{{#if curWebpage}}

  <div class="box-title">
    <span class="btn close" {{action cancelClose}}><i class="fa fa-times"></i></span>

    <div class="btn-group pull-right">
      <button {{bind-attr class=":save :btn :icon-text curWebpage.isDirty:primary:disabled"}}
              {{action saveWebpage curWebpage}}>
        <i class="fa fa-save"></i> {{t 'save'}}
      </button>
    </div>

    {{t 'webpage.properties_of'}}
    <strong>{{curWebpage.name}}</strong>

  </div>

  <form>

    <div class="clearfix">

      <div class="caminio col-md-12">

        <div class="form-group">

          <label for="example-text-input">{{t 'name'}}</label>
          <div {{bind-attr class="nameError:field-with-error"}}>
            {{input valueBinding='curWebpage.name' class='form-control'}}
            {{#if nameError}}<span class="help-block">{{errors.name}}</span>{{/if}}
          </div>

        </div>

        <div class="form-group">

          <label for="example-text-input">{{t 'webpage.status'}}</label>
          <br>

          <button {{action removeWebpage}} class="btn highlight-danger icon-text pull-right">
            <i class="fa fa-trash-o"></i>
            <span>{{t 'delete'}}</span>
          </button>

          <button class="pull-right btn icon-text" {{action editWebpage curWebpage}}>
            <i class="fa fa-align-left"></i> {{t 'edit_content'}}
          </button>


          <button {{action setState 'published'}} 
                  {{bind-attr class=":btn :pale isPublished:success"}}>{{t 'webpage.published'}}</button>
          <button {{action setState 'draft'}} 
                  {{bind-attr class=":btn :pale isDraft:primary"}}>{{t 'webpage.draft'}}</button>
          <button {{action setState 'review'}} 
                  {{bind-attr class=":btn :pale inReview:warning"}}>{{t 'webpage.review'}}</button>

        </div>

        {{#if inReview}}
          <fieldset class="with-border">
            <legend>{{t 'webpage.request_review'}}</legend>
            <div class="form-group">

              <label for="example-text-input">{{t 'webpage.assign_to'}}</label>
              <div>
                {{input valueBinding='curWebpage.requestReviewBy.fullname' class='form-control'}}
              </div>
            </div>

            <div class="form-group">        
              <label for="example-text-input">{{t 'webpage.review_message'}}</label>
              <div>
                {{textarea valueBinding='curWebpage.requestReviewMsg' class='form-control'}}
              </div>

            </div>
          </fieldset>
        {{/if}}

        <div class="form-group">

          <label for="example-text-input">{{t 'webpage.layout'}}</label>
          <br>


          {{view Ember.Select
                 content=availableLayouts
                 valueBinding='curWebpage.layout'
          }}
          
        </div>
        
      </div>


    </div>
  </form>

{{else}}

  <div class="empty-exp">
    <i class="fa fa-info-circle large block"></i>
    {{#if noWebpage}}
      {{t webpage.no_webpage_yet}}
      <br>
      <a href="#" {{action promptNewWebpage}}>{{t 'webpage.create_new'}}</a>
    {{else}}
      {{t webpage.select_webpage_to_show_info}}
    {{/if}}
  </div>

{{/if}}