{{#if curWebpage}}

  <h4 class="mini-title">
    <span class="btn pale close"><i class="fa fa-times"></i></span>
    <button class="save btn primary icon-text"><i class="fa fa-save"></i> {{t 'save'}}</button>
    {{t 'webpage.properties_of'}}
    <strong>{{curWebpage.name}}</strong>
  </h4>

  <div class="clearfix">

    <form class="caminio col-md-12">

      <div class="form-group">

        <label for="example-text-input">{{t 'name'}}</label>
        <div {{bind-attr class="nameError:field-with-error"}}>
          {{input valueBinding='curWebpage.name' class='form-control'}}
          {{#if nameError}}<span class="help-block">{{errors.name}}</span>{{/if}}
        </div>

      </div>

      <div class="form-group">

        <label for="example-text-input">{{t 'webpage.status'}}</label>
        <br>

        <button {{action setState 'published'}} 
                {{bind-attr class=":btn :pale isPublished:success"}}>{{t 'webpage.published'}}</button>
        <button {{action setState 'draft'}} 
                {{bind-attr class=":btn :pale isDraft:primary"}}>{{t 'webpage.draft'}}</button>
        <button {{action setState 'review'}} 
                {{bind-attr class=":btn :pale inReview:warning"}}>{{t 'webpage.review'}}</button>

{{!-- 
        {{view Ember.Select
               content=publishStatuses
               optionValuePath='content.id'
               optionLabelPath='content.text'
               value=curWebpage.status
        }} --}}

      </div>

      <div class="form-group">

        <label for="example-text-input">{{t 'webpage.request_review'}}</label>
        <div>
          {{input valueBinding='curWebpage.requestReviewBy.fullname' class='form-control'}}
        </div>
        
      </div>
      
    </form>

    <div class="form-group">

      <label for="example-text-input">{{t 'webpage.request_review'}}</label>
      <div>
        {{input valueBinding='curWebpage.requestReviewBy.fullname' class='form-control'}}
      </div>
      
    </div>

  </div>

{{else}}

  <div class="empty-exp">
    <i class="fa fa-info-circle large block"></i>
    {{t webpage.select_webpage_to_show_info}}
  </div>

{{/if}}