<section class="main-wrapper">
  <header>
    <div class="box">
      <div class="main-ctrl">
        <button class="btn success icon-text" {{action 'promptNewWebpage'}}>
          <i class="fa fa-plus-square"></i>
          {{t webpage.new}}
        </button>
      </div>
      <h1>{{domain.name}}</h1>
      <h2 class="no-margin-bottom">{{t website.subtitle}}</h2>

      <ul class="sub-navbar nav nav-pills">
        <li class="active">
          {{#link-to 'webpages.index'}}{{t 'webpages.title'}}{{/link-to}}
        </li>
        <li>
          {{#link-to 'webpages.index'}}{{t 'blogs.title'}}{{/link-to}}
        </li>
      </ul>

    </div>

  </header>

 {{!--  <div class="features row span-row">
  <section class="editor"> 
    <div class="outer">

    <div class="col-md-6" >
        <section class="entry-markdown">
        <header class="floatingheader">
        &nbsp;&nbsp; Markdown
        </header>
        <section class="entry-markdown-content">
        <textarea>Ghost has an incredibly simple concept for writing. You write in [Markdown](http://daringfireball.net/markdown) on the left, and you see an immediate preview of exactly what your post will look like in rendered HTML on the right.

        ###The Benefits Are Obvious!

        * Never stop writing, format on the fly
        * No messing around with *buttons* everywhere
        * No writing repetitive HTML markup
        * Mobile friendly

        It's a wonderful solution to a problem which bloggers have faced for many years now.

        > Applying a multitude of formatting styles, with very little effort, and seeing those styles rendered exactly as they will appear on the website.

        Give it a try! Start typing in the `Markdown` box. It's easy.
        </textarea>
        </section>
        </section>
    
    </div>

    <div class="col-md-6">
        <section class="entry-preview active">
        <header class="floatingheader">
        &nbsp;&nbsp; Preview <span class="entry-word-count">0 words</span>
        </header>
        <section class="entry-preview-content">
        <div class="rendered-markdown"></div>
        </section>
        </section>

    </div>
    </div>
    </section>

    </div> --}}

      <div class="features">

<section class="editor">
<div class="outer">
<section class="entry-markdown">
<header class="floatingheader">
&nbsp;&nbsp; Markdown
</header>
<section class="entry-markdown-content">
<textarea class="input-area">Ghost has an incredibly simple concept for writing. You write in [Markdown](http://daringfireball.net/markdown) on the left, and you see an immediate preview of exactly what your post will look like in rendered HTML on the right.

###The Benefits Are Obvious!

* Never stop writing, format on the fly
* No messing around with *buttons* everywhere
* No writing repetitive HTML markup
* Mobile friendly

It's a wonderful solution to a problem which bloggers have faced for many years now.

> Applying a multitude of formatting styles, with very little effort, and seeing those styles rendered exactly as they will appear on the website.

Give it a try! Start typing in the `Markdown` box. It's easy.</textarea>
</section>
</section>
<section class="entry-preview active">
<header class="floatingheader">
&nbsp;&nbsp; Preview <span class="entry-word-count">0 words</span>
</header>
<section class="entry-preview-content">
<div class="rendered-markdown"></div>
</section>
</section>
</div>
</section>

</div>


</section>