<section class="main-wrapper">
  <header>
    <div class="box title-box website">
      <div class="main-ctrl">
        <button class="btn icon-text" {{action 'promptNewWebpage'}}>
          <i class="fa fa-plus-square"></i>
          {{t webpage.new}}
        </button>
      </div>
      <h1>{{domain.name}}</h1>

    </div>

  </header>

  <div class="clearfix">

    <div class="col-md-6">
      <div class="box">
        {{partial 'webpages/tree'}}
      </div>
    </div>

    <div class="col-md-6">
      <div class="box webpage-details-box">
        {{partial 'webpages/details'}}
      </div>
    </div>

  </div>

</section>