<section class="plain-wrapper">

  <header>
    <div class="box title-box">
      <div class="main-ctrl">
        <button class="btn icon-text" {{action 'promptNewWebpage'}}>
          <i class="fa fa-plus-square"></i>
          {{t webpage.new}}
        </button>
      </div>
      <h1>
        {{domain.name}}
        {{#if domain.contentDirPkgVersion}}
          <small class="desc">{{domain.contentDirPkgVersion}}</small>
        {{/if}}
      </h1>

    </div>

  </header>

  <div class="row span-row">

    <div class="col-md-6">
      <div class="box fill-box">
        {{partial 'webpages/tree'}}
      </div>
    </div>

    <div class="col-md-6">
      <div class="box fill-box webpage-details-box">
        {{partial 'webpages/details'}}
      </div>
    </div>

  </div>

</section>