
<div id='pebbles-library' class='modal fade'>
  <div class="modal-dialog" style="width: 80%">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h4 class="modal-title">{{t 'pebbles.title'}}</h4>
      </div>
      <div class="modal-body clearfix">

        <div class="media-manager">

          <div class="col-md-12">

            {{#unless curPebble}}

              <div class="row">
                
                <div class="col-md-6">

                  <div class="box">

                    <div class="row default-padding">
                    
                      <ul class="pebbles-list">
                        {{#each associatedPebbles}}
                          <li {{action showPebble this}}>
                            <i {{bind-attr class=":fa getIcon"}}></i>
                            {{name}}
                          </li>
                        {{/each}}
                      </ul>

                    </div>

                  </div>
                </div>

              </div>

            {{else}}
        
              {{#equal 'teaser' curPebble.type }}
                {{partial 'pebble_type_teaser'}}
              {{/equal}}
            
            {{/unless}}

          </div>

            

{{!--                     <form class="caminio clearfix" {{action savePebble on='submit'}}>

                      <div class="form-group">
                        <label class="control-label col-md-3">{{t 'pebble.name'}}</label>
                        <div class="col-md-9">
                          {{input type='text' valueBinding='curPebble.name' class='form-control'}}
                          <div class="desc row">
                            <div class="col-md-6">
                              <span>{{t 'created'}}:</span>
                              <strong>{{curPebble.createdBy.fullname}}</strong>
                            </div>
                            <div class="col-md-6">
                              <span>{{t 'date'}}:</span>
                              <strong>{{formatDate curPebble.createdAt format='DD MM YYYY HH:mm'}}</strong>
                            </div>
                          </div>
                        </div>
                      </div>

                      <div class="form-group">
                        <label class="control-label col-md-3">{{t 'pebble.description'}}</label>
                        <div class="col-md-9">
                          {{input type='text' valueBinding='curPebble.description' class='form-control'}}
                        </div>
                      </div>

                    </form> --}}


        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">{{t 'close'}}</button>
        <button type="button" {{bind-attr class=":btn curFile:primary"}} {{action insertPebble}}>{{t 'pebble.insert_selected'}}</button>
      </div>
    </div>
  </div><!-- /.modal-dialog -->
</div>